# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Assignment1/\.vs/Assignment1/v15/

*.sln

*.vcxproj

Assignment1/Assignment1\.vcxproj\.filters

*.user

*.ilk

*.log

*.pdb

*.lastbuildstate

*.tlog

*.enc

*.idb

Assignment3/\.vs/Assignment3/v15/

Assignment3/Assignment3\.vcxproj\.filters

Assignment4/\.vs/Assignment4/v15/

Assignment4/Assignment4\.vcxproj\.filters
